<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container" id="home">
        <p><%= quote %></p> <br>
        <p><%= message %></p> <br>
        <p><%= msg %></p> <br>
        <div class="opContainer">
            <a class="options" href="/:pokemon/wrong"> <%= move[0]['o'] %> </a> <br>
            <a class="options" href="/:pokemon/wrong"> <%= move[1]['o'] %> </a> <br>
            <a class="options" href="/:pokemon/gymp2"> <%= move[2]['o'] %> </a> <br>
        </div>
    </div> 
    <br>
    <div class="pokeImg">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/71/DP-Brock.png" alt="">
        <img src="https://img.pokemondb.net/artwork/large/geodude.jpg" alt="">
    </div> 
    <div>
</div>
</body>
</html>
